.admin-sidebar {
  width: 288px;
}

.admin-nav-menu .nav-item {
  margin-inline: 14px;
}

.admin-nav-menu .nav-item.active {
  background-color: #b1cff6;
}

.admin-nav-menu .nav-item.text-danger {
  color: var(--danger-color);
}
